.cryptoCard {
  background: rgb(238, 238, 238, 0.01);
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
  color: #eeeeee;
  border-radius: 10px;
  border: 0.4px solid #3f3f3f;
  padding-inline-start: 0.656rem;
  padding-inline-end: 0.656rem;
  padding-block-start: 0.875rem;
  padding-block-end: 0.875rem;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
  align-items: center;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.cryptoStart {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 5px;
  flex: 1;
}

.cryptoEnd {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 5px;
  align-items: center;
}

.cryptoInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 4.5px;
  max-width: 4.5rem;
}

.cryptoImg {
  width: 2.188rem;
  height: 2.188rem;
}

.cryptoInfo h2 {
  margin: 0;
  font-weight: bold;
  font-size: 1.219rem;
  color: #eeeeee;
  line-height: 0.875rem;
}

.cryptoInfo p {
  margin: 0;
  font-size: 0.688rem;
  line-height: 7px;
  font-weight: 500;
  color: #eeeeee;
}

.cryptoChart {
  flex: 2;
  position: relative;
  width: 100%;
  max-width: 7.5rem;
  height: 2.5rem;
  background-color: #232229;
  border-radius: 6px;
  > img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    opacity: 0.2;
  }
}

.chart {
  /* position: absolute; */
  width: 100% !important;
  height: 100% !important;
  z-index: 1;
}

.cryptoPrice {
  flex: 1;
  text-align: right;

  display: flex;
  flex-direction: column;
  gap: 5.5px;
}

.cryptoChange {
  display: flex;
  /* align-items: center; */
  justify-content: flex-end;
  gap: 2px;
}

.cryptoPrice h3 {
  margin: 0;
  font-size: 0.906rem;
  font-weight: 600;
}

.cryptoPrice p {
  margin: 0;
  font-size: 0.594rem;
  font-weight: 500;
}

.positive {
  color: #0f0;
}

.negative {
  color: #f00;
}
