.logoWrapper {
	background: rgb(238, 238, 238, 0.08);
	backdrop-filter: blur(16px);
	-webkit-backdrop-filter: blur(16px);
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 4.5px;
	> img {
		width: 25px;
		height: 25px;
	}
}

.arrowRight {
  cursor: pointer;
  border: none;
  color: white;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2.5px;
  background: transparent;
}