.overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: 'flex';
  justify-content: 'center';
  align-items: 'center';
  z-index: 1000;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 1);
}

.storyContainer {
  background-color: fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.nextButton {
  background-color: #a29bfe; /* Purple color */
  border-radius: 7.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s;
  z-index: 2;
}
