.main {
  display: flex;
  flex-direction: column;
  background-image: url('/img/backgrounds/mainBackground.svg');
  background-size: cover;
  padding-block-start: 50px;
  padding-block-end: 55px;
  padding-inline: 25px;
  color: #eeeeee;
  min-height: 100vh;
}

.listWrapper {
  margin-top: 1.969rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0 0 auto;
}

.coinsWrapper {
  margin-top: 1.125rem;
  margin-bottom: 30px;
  /* flex: 1 1 auto; */
  height: calc(100vh - 305px);
}

.listHeading {
  font-size: 19.5px;
  line-height: 14px;
  font-weight: bold;
}

.plusButton {
  width: 19.25px;
  height: 19.25px;
  border-radius: 3px;
  background: #eeeeee;
  color: #101010;
  font-size: 15px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.footer {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  position: fixed;
  width: calc(100% - 3.125rem);
  bottom: 2.913rem;
  height: 3.75rem;
}

.footerEnergy {
  height: 100%;
  padding-block: 0.281rem;
  display: flex;
  align-items: center;
  gap: 15px;
}

.energyCount {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 1.25rem;
  height: 100%;
}

.energyCount:first-child {
  margin-bottom: 3.125rem;
}

.energyLeftText {
  position: absolute;
  top: 10%;
  left: 15%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 1.5rem;
}

.energyRightText {
  position: absolute;
  top: 50%;
  left: 60%;
  font-weight: 800;
  font-size: 1.5rem;
}

.drob {
  width: 3rem;
  height: 3rem;
}

.footerList {
  display: flex;
  align-items: center;
  height: 100%;
}

.fellows {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: #eeeeee;
  height: 4rem;
  width: 4rem;
  border-top-left-radius: 0.625rem;
  border-bottom-left-radius: 0.625rem;
}
.fellows img {
  width: 2.5rem;
  height: 1.75rem;
}
.fellowsText {
  color: #000000;
  font-weight: 500;
  font-size: 0.75rem;
}

.build {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  height: 100%;
  background-color: #eeeeee;
  height: 4rem;
  width: 4rem;
}
.build img {
  width: 1.75rem;
  height: 1.75rem;
}
.buildText {
  color: #000000;
  font-weight: 500;
  font-size: 11px;
}

.boost {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  height: 100%;
  background-color: #eeeeee;
  height: 4rem;
  width: 4rem;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
}
.boost img {
  width: 1.75rem;
  height: 1.75rem;
}
.boostText {
  color: #000000;
  font-weight: 500;
  font-size: 11px;
}

.active {
  background: linear-gradient(to bottom right, #948aff, #040033);
  > p {
    color: #ffffff;
  }
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
