.swiper {
  width: 100%;
  height: 100%;
  padding-bottom: 1.25rem;
}

.swiperSlide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4rem !important;
  margin-bottom: 1.26rem;
}

.swiperSlide:last-child {
  margin-bottom: 0;
}
