.wrapper {
  width: 100%;
  height: 3.906rem;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
}

.info {
  display: flex;
  align-items: center;
  gap: 6px;
  width: 100%;
}

.avatar {
  width: 3.906rem;
  height: 3.906rem;
  border-radius: 50%;
}

.statistics {
  height: 2.656rem;
  display: flex;
  flex-direction: column;
  gap: 9px;
  > p {
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 0.875rem;
  }
}

.divider {
  display: flex;
  flex-direction: column;
  gap: 5px;
  > p {
    font-size: 0.844rem;
    font-weight: 500;
    line-height: 0.563rem;
  }
}

.league {
  display: flex;
  gap: 3px;
  > span {
    font-size: 0.906rem;
    font-weight: 500;
    line-height: 0.563rem;
  }
}

.pnl {
  display: flex;
  align-items: center;
  gap: 5px;
}

.green {
  color: #39cd83;
}

.red {
  color: #ea3e3e;
}

.clan {
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-block: 0.563rem;
  padding-inline: 0.5rem;
  gap: 5.34px;
  background: #101010;
  border-radius: 10px;
  border: 0.006rem solid #858585;
}

/* .noClan {
  justify-content: center;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 5.5px 7.5px 5.5px 7.5px;
  background: #101010;
  > p {
    font-size: 12px;
    font-weight: bold;
    line-height: 7px;
  }
} */

.leagueLogo {
  width: 0.75rem;
  height: 0.75rem;
}

.clanLogo {
  width: 2.813;
  height: 2.813;
  border-radius: 6px;
}

.clanInfo {
  display: flex;
  flex-direction: column;
  gap: 6.25px;
  > p {
    font-size: 0.719rem;
    font-weight: bold;
    line-height: 7px;
  }
}

.clanStatistics {
  display: flex;
  flex-direction: column;
  gap: 2px;
  > p {
    font-size: 0.688rem;
    font-weight: 500;
    line-height: 7px;
  }
}

.clanBalance {
  display: flex;
  align-items: center;
  gap: 4px;
}

.clanBalanceLogo {
  width: 0.594rem;
  height: 0.594rem;
}

.clanLeague {
  display: flex;
  align-items: center;
  gap: 4px;
}

.clanBalanceIcon {
  position: relative;
  width: 0.531rem;
  height: 0.531rem;
}

.clanBalanceLogo {
  position: absolute;
  top: 0;
  left: 0;
}

.clanBalanceVector {
  position: absolute;
  top: 25%;
  left: 15%;
  width: 5.6px;
  height: 5.6px;
}

.clanLeagueLogo {
  width: 8.47px;
  height: 8.5px;
}

.noClanLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(217, 217, 217, 0.1);
  border-radius: 4.5px;
  width: 2.5rem;
  height: 2.5rem;
  > img {
    width: 1.563rem;
    height: 1.563rem;
  }
}

.noClanBalance {
  background-color: rgb(217, 217, 217, 0.1);
  border-radius: 3.5px;
  height: 0.563rem;
  width: 2.688rem;
}

.noClanLeague {
  background-color: rgb(217, 217, 217, 0.1);
  border-radius: 3.5px;
  height: 0.563rem;
  width: 2rem;
}
