body,
html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-shrink: 0;
  border: none;
  outline: none;
  line-height: 1;
  text-decoration: none;
}

html {
  background: #000;
  color: #fff;
  font-family: 'Cygre', sans-serif;
  height: var(--dvh, 100vh);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

body {
  height: 100%;
}

html.is-blocked {
  height: auto;
}

html.is-blocked body {
  height: 100vh;
  min-height: 100vh;
  overflow: hidden;
}

#app {
  display: grid;
}

:root {
  --pirple: #948aff;
  --blue: #2929f9;
  --black: #101010;
  --white: #eeeeee;
  --green: #39cd83;
  --red: #ea3e3e;

  --gray-border: rgba(238, 238, 238, 0.3);
}

.page {
  font-family: 'Cygre', sans-serif;
  max-width: 100%;
  min-height: 100dvh;
  width: 100%;
  overflow-y: auto;
}

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 350ms ease-in-out;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 350ms ease-in-out;
}
