html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Cygre', sans-serif;
  font-weight: normal;
  color: #eeeeee;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-shrink: 0;
  border: none;
  outline: none;
  line-height: 1;
  text-decoration: none;
}

:root {
  --pirple: #948aff;
  --blue: #2929f9;
  --black: #101010;
  --white: #eeeeee;
  --green: #39cd83;
  --red: #ea3e3e;

  --gray-border: rgba(238, 238, 238, 0.3);
}

.page {
  font-family: 'Cygre', sans-serif;
  font-weight: 500;
}

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 400ms ease-in-out;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 400ms ease-in-out;
}
