.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  padding: 0px 25px 34.75px 25px;
  border-radius: 10px;
  position: relative;
}

.headerContainer {
  position: sticky;
  width: 100%;
  background-color: rgba(10, 10, 10, 0.9);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  top: 0;
  left: 0;
  z-index: 1000;
  padding-block: 14px;
}

.modalImgContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalImg {
  width: 60px;
}

.header {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerTitle {
  display: flex;
  align-items: center;
  gap: 5px;
  > img {
    width: 35px;
    height: 35px;
  }
}

.headerText {
  display: flex;
  flex-direction: column;
  gap: 3.25px;
  h1 {
    color: #eeeeee;
    font-weight: bold;
    font-size: 19.5px;
  }
  p {
    color: #eeeeee;
    font-size: 10.5px;
    font-weight: 500;
  }
}

.headerCostPrice {
  display: flex;
  align-items: center;
  gap: 8px;
}

.headerBtn {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2.5px;
  border: 0.25px solid #aaaaaa;
  background-color: transparent;
  font-family: 'Cygre', sans-serif;
}

.toggleSwitch {
  border: 0.5px solid #eeeeee;
  display: flex;
  align-items: center;
  width: 60px;
  height: 30px;
  border-radius: 2.5px;
  background-color: #eeeeee;
}

.candleStickMode {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lineMode {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.active {
  background-color: #101010;
  border: 0.5px solid #eeeeee;
  border-radius: 2.5px;
}

.cryptoPrice {
  flex: 1;
  text-align: right;

  display: flex;
  flex-direction: column;
  gap: 5.5px;
}

.cryptoPrice h3 {
  margin: 0;
  font-size: 19.5px;
  font-weight: 800;
}

.cryptoPrice p {
  margin: 0;
  font-size: 8px;
  font-weight: 500;
}

.cryptoPrice {
  flex: 1;
  text-align: right;

  display: flex;
  flex-direction: column;
  gap: 5.5px;
}

.cryptoChange {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2px;
}

.positive {
  color: #0f0;
}

.negative {
  color: #f00;
}

.buttons {
  margin-top: 18.88px;
  display: flex;
  width: 100%;
  height: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.buttons button {
  width: 100%;
  height: 30px;
  color: #101010;
  font-size: 13.5px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2.5px;
  font-family: 'Cygre', sans-serif;
  transition: 0.1s;
}

.longBtn {
  background-color: rgba(61, 92, 77, 1);
  color: rgba(170, 168, 168, 1);
}

.longBtn.activeDirection {
  background-color: #39cd83;
}

.shortBtn {
  color: rgba(170, 168, 168, 1);
  background-color: rgba(130, 55, 55, 1);
}

.shortBtn.activeDirection {
  background-color: #ea3e3e;
}

.amountContainer {
  margin-top: 18.75px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 15px;
}

.amountContainer:last-child {
  align-items: start;
}

.amount {
  display: flex;
  flex-direction: column;
  gap: 4.5px;
  > p {
    color: #aaaaaa;
    font-size: 10.5px;
    font-weight: 500;
  }
}

.amount input {
  width: 100%;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2px;
  border-radius: 5px;
  background-color: rgb(222, 219, 255, 0.1);
  padding-inline: 6px;
  padding-block: 3.75px;
  transition: 0.1s;
  color: #aaaaaa;
  font-size: 10.5px;
  font-weight: 500;
  outline: none;
  > select {
    width: 42.5px;
    height: 17.5px;
    border: none;
    background-color: transparent;
    color: #aaaaaa;
    font-size: 10.5px;
    font-weight: 500;
    outline: none;
  }
}

.amount input:focus-within {
  border: 0.1px solid #eeeeee;
}

.rangeWithScale {
  position: relative;
  display: flex;
  align-items: center;
}

.rangeLabel {
  /* position: absolute;
  top: 10.25px;
  left: 0; */
  color: #2916ff;
  font-size: 10.5px;
  font-weight: 500;
}

.scaleValues {
  position: absolute;
  top: -1px;
  left: -5px;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  height: 4px;
  transform: translateX(-50%) rotate(90deg);
}

input[type='range'] {
  -webkit-appearance: none;
  height: 0.5px;
  border-radius: 2px;
  background: #eeeeee;
  outline: none;
}

input[type='range']::-webkit-slider-thumb {
  background: #2916ff;
  filter: drop-shadow(0px 0px 4px rgb(41, 41, 249, 0.8));
  cursor: pointer;
  width: 10px;
  height: 11.5px;
  border-radius: 2.5px;
  -webkit-appearance: none;
}

.mark {
  display: inline-flex;
  width: 5px;
  height: 0.5px;
  margin-bottom: 20px;
  background: #eeeeee;
}

.rangeContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.orderBtnContainer {
  margin-top: 17.75px;
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.orderBtn {
  width: 100%;
  height: 35px;
  border-radius: 3px;
  background: transparent;
  color: #eeeeee;
  font-size: 13.5px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.2px solid #eeeeee;
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  font-family: 'Cygre', sans-serif;
  transition: 0.15s;
}

.orderBtn.activeOrder {
  background-color: #948aff;
  border: none;
}

.orderBtn:active {
  background-color: rgb(222, 219, 255, 0.1);
  color: #eeeeee;
}

.orderBtnContainer {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
}

.orderBtnDown {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2.5px;
  background: rgb(222, 219, 255, 0.1);
  color: #eeeeee;
  font-size: 13.5px;
  font-weight: 500;
  border: #515154;
}

.tradesContainer {
  margin-top: 20px;
  margin-inline: 25px;
  height: 40px;
  background-color: rgba(222, 219, 255, 0.1);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  gap: 16px;
  border-radius: 5px;
  padding-inline: 15px;
}

.tradeBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 10.5px;
  font-weight: 400;
  color: #ffffff;
  height: 30px;
  border-radius: 5px;
  background: transparent;
  font-family: 'Cygre', sans-serif;
}

.activeTradeBtn {
  background-color: rgba(222, 219, 255, 0.1);
}

.trades {
  width: 100%;
  height: 100%;
  min-height: 72.5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
