.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: url('img/backgrounds/fellowsBackground.svg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 45px 25px 30px 25px;
	color: #EEEEEE;
	min-height: 100vh;
	height: 100%;
	position: relative;
}

.noClans {
  display: flex;
  flex-direction: column;
	align-items: center;
	justify-content: center;
  gap: 10px;
	background: rgb(16, 16, 16, 0.3);
	backdrop-filter: blur(16px);
	-webkit-backdrop-filter: blur(16px);
	flex-grow: 1;
	border-radius: 5px;
	width: 100%;
	height: 100%;
  > img {
    width: 60px;
    height: 60px;
  }
  > p {
    font-size: 14px;
    color: #808088;
    font-weight: 500;
  }
}

.fellowsHeader {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	gap: 7.5px;
	> img {
		width: 33.63px;
		height: 22.5px;
	}
	> h1 {
		font-size: 32px;
		font-weight: bold;
	}
	> p {
		font-size: 11.5px;
		font-weight: 500;
		text-align: center;
	}
}

.fellowsLadder {
	margin-top: 26.5px;
	display: grid;
	align-items: center;
	grid-template-columns: 1fr 3fr;
	width: 100%;
	gap: 10px;
	height: 40px;
}

.top {
	display: flex;
	justify-content: center;
	height: 100%;
	align-items: center;
	width: 100%;
	gap: 4.5px;
	border-radius: 5px;
	background: rgb(222, 219, 255, 0.1);
	-webkit-backdrop-filter: blur(16px);
	backdrop-filter: blur(16px);
	padding: 8px 18px 7.5px 18.5px;
	> .topItem {
		display: flex;
		align-items: flex-start;
		justify-content: center;
		flex-direction: column;
		gap: 4.5px;
		> span {
			display: flex;
			gap: 4.5px;
			align-items: center;
			justify-content: center;
				> p {
					color: #948AFF;
					font-size: 19.5px;
					font-weight: 500;
				}
				> img {
					width: 14px;
					height: 14px;
				}
			}
		> p {
			color: #AAAAAA;
			font-size: 9px;
			font-weight: 500;
		}
	}
}

.ladder {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 4.5px;
	height: 100%;
	border-radius: 5px;
	width: 100%;
	background: rgb(222, 219, 255, 0.1);
	-webkit-backdrop-filter: blur(16px);
	backdrop-filter: blur(16px);
	padding: 13.5px 14px 13.5px 14px;
	> h1 {
		font-size: 18px;
		font-weight: 500;
	}
	> img {
		width: 9.5px;
		height: 9px;
	}
}

.inviteFellows {
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 14.75px;
	width: 100%;
	> h1 {
		font-size: 19.5px;
		font-weight: bold;
	}
}

.inviteContainer {
	background: rgb(238, 238, 238, 0.04);
	border-radius: 10px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 12.5px;
	padding-inline: 17.5px;
	padding-block: 14.5px;
}

.defaultFriend {
	background: rgb(222, 219, 255, 0.1);
	-webkit-backdrop-filter: blur(16px);
	backdrop-filter: blur(16px);
	border-radius: 5px;
	width: 100%;
	height: 55px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-inline-start: 10.5px;
	padding-inline-end: 15px;
	> p {
		font-size: 13.5px;
		font-weight: normal;
	}
}

.premiumFriend {
	background: rgb(222, 219, 255, 0.1);
	-webkit-backdrop-filter: blur(16px);
	backdrop-filter: blur(16px);
	border-radius: 5px;
	width: 100%;
	height: 55px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-inline-start: 10.5px;
	padding-inline-end: 15px;
	> p {
		font-size: 13.5px;
		font-weight: normal;
	}	
}

.icon {
	display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  width: 35px;
  height: 35px;
	background-color: rgb(16, 16, 16, 0.3);
	> span {
		font-size: 19.5px;
	}
}

.iconWrapper {
	display: flex;
	align-items: center;
	gap: 9.5px
}

.cost {
	color: #948AFF;
	font-size: 19.5px;
	font-weight: normal;
	> img {
		margin-left: 2.25px;
	}
}

.fellowsListWrapper {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-grow: 1;
	gap: 14.75px;
	width: 100%;
	height: 100%;
	> h1 {
		font-size: 19.5px;
		font-weight: bold;
	}
}

.floatingButton {
	font-family: 'Cygre', sans-serif;
  position: fixed;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
	width: calc(100% - 79px);
  padding: 16px 82.25px 14.5px 79.75px;
  background-color: #948AFF; /* Фоновый цвет кнопки */
  color: #101010; /* Цвет текста кнопки */
  border: none; /* Удалить границу кнопки */
  border-radius: 5px; /* Закругленные углы */
  font-size: 18px; /* Размер шрифта */
	font-weight: bold; /* Жирный шрифт */
  cursor: pointer; /* Курсор в виде руки при наведении */
  z-index: 1000; /* Поверх всего контента */
	transition: background-color 0.3s ease;
}

.floatingButton:active {
	background-color: rgba(48, 48, 48, 0.001); /* Цвет кнопки при нажатии */
}