.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('/img/backgrounds/fellowsBackground.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 2.813rem 1.563rem 1.875rem 1.563rem;
  color: #eeeeee;
  min-height: 100vh;
  height: 100%;
  position: relative;
}

.noClans {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: rgb(16, 16, 16, 0.3);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  flex-grow: 1;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  > img {
    width: 3.75rem;
    height: 3.75rem;
  }
  > p {
    font-size: 0.875rem;
    color: #808088;
    font-weight: 500;
  }
}

.fellowsHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 7.5px;
  > img {
    width: 2.102rem;
    height: 1.406rem;
  }
  > h1 {
    font-size: 2rem;
    font-weight: bold;
  }
  > p {
    font-size: 0.719rem;
    font-weight: 500;
    text-align: center;
  }
}

.fellowsLadder {
  margin-top: 26.5px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 3fr;
  width: 100%;
  gap: 10px;
  height: 2.5rem;
}

.top {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  width: 100%;
  gap: 4.5px;
  border-radius: 5px;
  background: rgb(222, 219, 255, 0.1);
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
  padding: 8px 18px 7.5px 18.5px;
  > .topItem {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 4.5px;
    > span {
      display: flex;
      gap: 4.5px;
      align-items: center;
      justify-content: center;
      > p {
        color: #948aff;
        font-size: 1.219rem;
        font-weight: 500;
      }
      > img {
        width: 0.875rem;
        height: 0.875rem;
      }
    }
    > p {
      color: #aaaaaa;
      font-size: 0.563rem;
      font-weight: 500;
    }
  }
}

.ladder {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4.5px;
  height: 100%;
  border-radius: 5px;
  width: 100%;
  background: rgb(222, 219, 255, 0.1);
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
  padding: 13.5px 14px 13.5px 14px;
  > h1 {
    font-size: 1.125rem;
    font-weight: 500;
  }
  > img {
    width: 0.594rem;
    height: 0.563rem;
  }
}

.inviteFellows {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 14.75px;
  width: 100%;
  > h1 {
    font-size: 1.219rem;
    font-weight: bold;
  }
}

.inviteContainer {
  background: rgb(238, 238, 238, 0.04);
  border-radius: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12.5px;
  padding-inline: 1.094rem;
  padding-block: 0.906rem;
}

.defaultFriend {
  background: rgb(222, 219, 255, 0.1);
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
  border-radius: 5px;
  width: 100%;
  height: 3.438rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline-start: 0.656rem;
  padding-inline-end: 0.938rem;
  > p {
    font-size: 0.844rem;
    font-weight: normal;
  }
}

.premiumFriend {
  background: rgb(222, 219, 255, 0.1);
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
  border-radius: 5px;
  width: 100%;
  height: 3.438rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline-start: 0.656rem;
  padding-inline-end: 0.938rem;
  > p {
    font-size: 0.844rem;
    font-weight: normal;
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  width: 2.188rem;
  height: 2.188rem;
  background-color: rgb(16, 16, 16, 0.3);
  > span {
    font-size: 1.219rem;
  }
}

.iconWrapper {
  display: flex;
  align-items: center;
  gap: 9.5px;
}

.cost {
  color: #948aff;
  font-size: 1.219rem;
  font-weight: normal;
  > img {
    margin-left: 2.25px;
  }
}

.fellowsListWrapper {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  gap: 14.75px;
  width: 100%;
  height: 100%;
  > h1 {
    font-size: 1.219rem;
    font-weight: bold;
  }
}

.floatingButton {
  font-family: 'Cygre', sans-serif;
  position: fixed;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 79px);
  padding: 1rem 5.141rem 0.906rem 5rem;
  background-color: #948aff; /* Фоновый цвет кнопки */
  color: #101010; /* Цвет текста кнопки */
  border: none; /* Удалить границу кнопки */
  border-radius: 5px; /* Закругленные углы */
  font-size: 1.219rem; /* Размер шрифта */
  font-weight: bold; /* Жирный шрифт */
  cursor: pointer; /* Курсор в виде руки при наведении */
  z-index: 1000; /* Поверх всего контента */
  transition: background-color 0.3s ease;
}

.floatingButton:active {
  background-color: rgba(48, 48, 48, 0.001); /* Цвет кнопки при нажатии */
}
